<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/choices.js@11.1.0/public/assets/styles/choices.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/choices.js@11.1.0/public/assets/scripts/choices.min.js"></script>
<script src="/js/debounce.js"></script>
<script src="/js/useChoice.js"></script>
<div class="max-w-5xl mx-auto p-6">
  <h1 class="text-xl font-semibold mb-4">Thêm sách</h1>
  <%- include('../error') %>
  <form enctype="multipart/form-data" method="POST" class="p-4 rounded border border-gray-200 space-y-2">
    <div class="flex flex-col gap-2">
      <label for="title" class="block text-sm font-medium text-gray-700"
        >Tên sách</label
      >
      <input
        type="text"
        name="title"
        placeholder="Nhập tên sách"
        id="title"
        class="block w-full border border-gray-300 rounded-md shadow-sm p-2"
        required
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="isbn" class="block text-sm font-medium text-gray-700"
        >ISBN</label
      >
      <input
        type="text"
        name="isbn"
        placeholder="Nhập ISBN"
        id="isbn"
        class="block w-full border border-gray-300 rounded-md shadow-sm p-2"
        required
      />
    </div>
    <div class="flex flex-col gap-2">
      <label
        for="published_year"
        class="block text-sm font-medium text-gray-700"
        >Năm xuất bản</label
      >
      <input
        type="text"
        name="published_year"
        placeholder="Nhập năm xuất bản"
        id="published_year"
        class="block w-full border border-gray-300 rounded-md shadow-sm p-2"
        required
      />
    </div>

    <div class="flex flex-col gap-2">
      <label for="authors" class="block text-sm font-medium text-gray-700"
        >Tác giả</label
      >
      <select
        name="authors"
        id="authors"
        class="block w-full border border-gray-300 rounded-md shadow-sm p-2"
        multiple
        required
      >
       
      </select>
    </div>
    <div class="flex flex-col gap-2">
      <label for="genres" class="block text-sm font-medium text-gray-700"
        >Thể loại</label
      >
      <select
        name="genres"
        id="genres"
        class="block w-full border border-gray-300 rounded-md shadow-sm p-2"
        multiple
        required
      >
        
      </select>
    </div>
    <div class="flex flex-col gap-2">
      <label
        for="quantity_total"
        class="block text-sm font-medium text-gray-700"
        >Số lượng</label
      >
      <input
        type="number"
        inputmode="numeric"
        pattern="[0-9]*"
        name="quantity_total"
        placeholder="Nhập số lượng"
        id="quantity_total"
        class="block w-full border border-gray-300 rounded-md shadow-sm p-2"
        required
      />
    </div>
    <div class="flex flex-col gap-2">
      <label
        for="quantity_available"
        class="block text-sm font-medium text-gray-700"
        >Số lượng còn lại</label
      >
      <input
        type="number"
        inputmode="numeric"
        pattern="[0-9]*"
        name="quantity_available"
        placeholder="Nhập số lượng còn lại"
        id="quantity_available"
        class="block w-full border border-gray-300 rounded-md shadow-sm p-2"
        required
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="description" class="block text-sm font-medium text-gray-700"
        >Mô tả</label
      >
      <textarea
        name="description"
        placeholder="Nhập mô tả"
        id="description"
        class="block w-full border border-gray-300 rounded-md shadow-sm p-2"
      ></textarea>
    </div>
    <div class="flex flex-col gap-2">
      <label for="image_cover" class="block text-sm font-medium text-gray-700"
        >Ảnh bìa</label
      >
      <input
        type="file"
        name="image_cover"
        id="image_cover"
        class="block w-full border border-gray-300 rounded-md shadow-sm p-2"
        required
      />
      <div id="show_image_cover"></div>
    </div>

    <button class="bg-green-600 text-white px-4 py-2 rounded">Lưu</button>
    <a href="/books" class="text-gray-600 hover:underline ml-3">Quay lại</a>
  </form>
</div>

<script>
  const image_cover = document.getElementById("image_cover");
  const show_image_cover = document.getElementById("show_image_cover");
  image_cover.addEventListener("change", function () {
    const file = this.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function (event) {
        show_image_cover.innerHTML = `<img src="${event.target.result}" alt="Ảnh bìa" class="mt-2 max-h-48">`;
      };
      reader.readAsDataURL(file);
    } else {
      show_image_cover.innerHTML = "";
    }
  });
</script>

<script>
  useChoice("#authors", "/authors/search", (data) => {
    return data.data.map((author) => ({
      value: author.id,
      label: author.name,
    }));
  });
  useChoice("#genres", "/genre/search", (data) => {
    return data.data.map((genre) => ({
      value: genre.id,
      label: genre.name,
    }));
  });
</script>

