<div class="max-w-lg mx-auto p-6">
  <h1 class="text-xl font-semibold mb-4">Cấp lại mật khẩu</h1>
  <%- include('../error') %>
  <form  method="POST" class="space-y-3">
    <h2>Cấp lại mật khẩu mới cho <strong><%= account ? account.user.fullname : '' %></strong></h2>
    <div class="flex flex-col gap-2">
        <label for="password">Mật khẩu mới</label>
        <input type="password" id="password" name="password" placeholder="nhập mật khẩu mới" required class="w-full border rounded px-3 py-2"/>
    </div>
    

    <button class="bg-green-600 text-white px-4 py-2 rounded">Lưu</button>
    <a href="/accounts" class="text-gray-600 hover:underline ml-3">Quay lại</a>
  </form>
</div>
