<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/choices.js@11.1.0/public/assets/styles/choices.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/choices.js@11.1.0/public/assets/scripts/choices.min.js"></script>
<script src="/js/debounce.js"></script>
<script src="/js/useChoice.js"></script>
<div class="max-w-5xl mx-auto p-6">
  <h1 class="text-xl font-semibold mb-4">Thêm phiếu phạt</h1>
  <%- include('../error') %>
  <form method="POST" class="p-4 rounded border border-gray-200 space-y-2">
    <div class="flex flex-col gap-2">
      <label
        for="borrow_detail_ids"
        class="block text-sm font-medium text-gray-700"
        >Tên sách</label
      >
      <select
        type="text"
        name="borrow_detail_ids"
        placeholder="Nhập tên sách"
        id="borrow_detail_ids"
        class="block w-full border border-gray-300 rounded-md shadow-sm p-2"
        required
        multiple
      ></select>
    </div>
    <div class="flex flex-col gap-2">
      <label for="amount" class="block text-sm font-medium text-gray-700"
        >Số tiền</label
      >
      <input
        type="text"
        name="amount"
        placeholder="Nhập số tiền"
        id="amount"
        class="block w-full border border-gray-300 rounded-md shadow-sm p-2"
        required
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="status" class="block text-sm font-medium text-gray-700"
        >Trạng thái</label
      >
      <select
        name="status"
        id="status"
        class="block w-full border border-gray-300 rounded-md shadow-sm p-2"
      ></select>
    </div>
    <div class="flex flex-col gap-2">
      <label for="note" class="block text-sm font-medium text-gray-700"
        >Ghi chú</label
      >
      <textarea
        type="text"
        name="note"
        placeholder="Nhập ghi chú"
        id="note"
        class="block w-full border border-gray-300 rounded-md shadow-sm p-2"
      ></textarea>
    </div>

    <button class="bg-green-600 text-white px-4 py-2 rounded">Lưu</button>
    <a href="/dashboard/fines" class="text-gray-600 hover:underline ml-3"
      >Quay lại</a
    >
  </form>
</div>

<script>
  const url = new URL(window.location.href);
  const borrow_id = url.searchParams.get("b");
  const borrow_detail_ids = url.searchParams.get("bd") || "";
  const listBorrowDetailIds = borrow_detail_ids.split(",");

  const data = [
    {
      value: "DAMAGED",
      label: "Hư hỏng",
    },
    {
      value: "LOSTED",
      label: "Đã mất",
    },
    {
      value: "EXPIRED",
      label: "Quá hạn",
    },
  ];
  useChoice("#status", null, () => {
    return data;
  });
  useChoice(
    "#borrow_detail_ids",
    "/dashboard/borrow-details/search?" +
      (borrow_id ? "b=" + borrow_id : "") +
      (borrow_detail_ids ? "&bd=" + borrow_detail_ids : ""),
    (data) => {
      return data.data.map((borrowDetail) => {
        const disabled = [
          "RETURNED",
          "REQUESTED",
          "REJECTED",
          "CANCELED",
          "DAMAGED",
          "LOSTED",
          "EXPIRED",
        ].includes(borrowDetail.status);
        const selected = listBorrowDetailIds.includes(
          borrowDetail.id.toString()
        );
        return {
          value: borrowDetail.id,
          label:
            borrowDetail.book.title +
            " - Phiếu mượn: " +
            borrowDetail.borrow_id + (" - Trạng thái: " + borrowDetail.status === "RETURNED" ? "Đã trả" : "") ,
          selected: !disabled && selected,
          disabled,
        };
      });
    }
  );
</script>
